<div class="container">
  <div class="user">
    <p><%=@ask%></p>
    <h2>- You</h2>
  </div>

  <div class="coach">
    <p><%=@answer%></p>
    <h2>- Coach</h2>
  </div>

<%= link_to "Return on asking page", ask_path %>
</div>
